.buttonToStart{
	border: 2px solid white;
	border-radius: 50px;
	height: 80px;
	width: 300px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20%;
	font-size: 2.5rem;
	padding: 15px;
	color: white;
	/*background-color: white;*/
}

.button:hover{
	color:#ef3131;
	background-color: white;
}

.timeDisplay{
	color: white;
}
.hintImage{
	position: absolute;
	bottom: 100px;
	left: 100px;
	opacity: 0.95;
}